venv/
__pycache__/
*.db
*.log
.env
reports/
*.pdf
bot.py.save*
.cache/
.bash_history
.bashrc
.profile
.ssh/
.vscode-server/
.local/
.dotnet/
.copilot/
clarity-bot/
.lesshst
.sqlite_history
.wget-hsts

.DS_Store
*.db-shm
*.db-wal
*.lock
*.zip

report_html/report-main/generated/
