[Unit]
Description=Run Rov.E database backup every night

[Timer]
OnCalendar=*-*-* 03:20:00
Persistent=true
Unit=rove-db-backup.service

[Install]
WantedBy=timers.target
